.clear {
  clear: both;
}
.container{
  background-color: rgb(232, 237, 232);
  box-sizing: border-box;
  font-family: 'Solway', serif;
  padding-right: 35px;
}

header{
  background-image:url(https://andromeloji.files.wordpress.com/2015/08/gc3b6kyc3bczc3bc.gif?w=356);
  display: inline-block;
  float:left;
  height: 100%;
}
a{
  color: white;
  text-decoration: none;
}
.menu{
  color: white;
  font-size: 20px;
  padding-top: 250px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
nav{
  color: white;
  font-size: 17px;
  padding-top: 50px;
  text-align: center;
}
nav ul li{
  padding-top: 15px;
}
.logo {
  color:white;
  font-size:18px;
  margin-top: 15px;
  text-align: center;
}
.logo a i{
  color: white;
  font-size: 18px;
}
main{
  display: inline-block;
  float:left;
  font-size: 30px;
  margin: 25px;
  width: 750px;
}
.about-title{
  font-size: 25px;
  font-weight: bold;
}

article p{
  font-size: 21px;
  margin-top: 20px;
}
aside ul{
  background-color: rgb(54, 56, 54);
  color: white;
  display: inline-block;
  float: right;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 250px;
}
aside ul li {
  font-size: 18px;
  padding: 8px;
}
aside ul li i{
  font-size: 1px;
  margin-right: 8px;
}
aside ul li strong{
  font-size: 21px;
  font-weight: bold;
}
section {
  background-color: rgb(54, 56, 54);
  color: white;
  display: inline-block;
  float: right;
  width: 250px;
}
section p{
  font-size: 15px;
  padding: 0 5px 23px 8px;
}
section h4{
  font-size: 17px;
  font-weight: bold;
  padding: 15px 8px;
  text-decoration: underline;
}
section h3{
  font-size: 21px;
  font-weight: bold;
  padding: 15px 8px 0 8px;
}
