#background{
  background-image:url(https://andromeloji.files.wordpress.com/2015/08/gc3b6kyc3bczc3bc.gif?w=356);
  width:350px;
  height:100%;
}
a{
  color: white;
  text-decoration: none;
}
.background-content{
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  padding-top: 250px;
}
.background-menu{
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  padding-top: 50px;
}
.background-menu li{
  padding-top: 15px;
}
.background-logo {
  color:white;
  text-align: center;
  font-size:18px;
  margin-top: 15px;
}
.background-logo a i{
  color: white;
  font-size: 18px;
}
