.clear {
  clear: both;
}
body{
  width: 1366px;
}
#left{
  background-image:url(https://andromeloji.files.wordpress.com/2015/08/gc3b6kyc3bczc3bc.gif?w=356);
  display: inline-block;
  float:left;
  height:100%;
}
a{
  color: white;
  text-decoration: none;
}
.left-content{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  padding-top: 250px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.left-menu{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  padding-top: 50px;
  text-align: center;
}
.left-menu li{
  padding-top: 15px;
}
.left-logo {
  color:white;
  font-size:18px;
  margin-top: 15px;
  text-align: center;
}
.left-logo a i{
  color: white;
  font-size: 18px;
}
.right{
  float:left;
  font-size: 30px;
  margin: 25px;
  width: 1000px;
}
.caption-menu{
  display: inline-block;
  font-size: 15px;
  margin-top: 25px;
  border-style: outset;
  border-width: medium;
}
.caption-menu ul li{
  padding: 8px;
  color:black;
}
.caption-menu ul li strong{
    font-weight: bold;
}
